$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ee001b;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #585859;
$dark: #272727;
$primary: $red;
$secondary: $dark;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: $red;
$light: #f8f9fa;
$text-color: lighten($dark, 50%);
$dark-text: darken($gray, 20%);
$light-text: lighten($gray, 15%);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
